<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/generic.css') }}">
  {% block extra_head %}{% endblock %}
</head>
<body>
  {% block content %}{% endblock %}
  <button id="theme-toggle">🌓</button>
  <script>
  const toggle = document.getElementById('theme-toggle');
  toggle.addEventListener('click', () => {
    document.documentElement.classList.toggle('dark');
    localStorage.theme = document.documentElement.classList.contains('dark') ? 'dark' : 'light';
  });
  if (
    localStorage.theme === 'dark' ||
    (!localStorage.theme && window.matchMedia('(prefers-color-scheme: dark)').matches)
  ) {
    document.documentElement.classList.add('dark');
  }
  </script>
  {% block extra_js %}{% endblock %}
</body>
</html>
